<article>
  <header>checkmark Pipe</header>
  <p>True: {{ true | checkmark }}</p>
  <p>False: {{ false | checkmark }}</p>
  <p>Truthy: {{ value12345 | checkmark }}</p>
  <p>Falsy: {{ valueEmptyString | checkmark }}</p>
  <p>Truthy: {{ valueHi | checkmark }}</p>
</article>

<article>
  <header>toCaps Pipe; also, chaining</header>
  <p>{{ 'yelling' }}</p>
  <p>{{ 'yelling' | toCaps }}</p>
  <p>{{ 'yelling' | toCaps | lowercase }}</p>
  <p>{{ 'yelling' | toCaps | lowercase | uppercase }}</p>
  <p>{{ myDate | date | uppercase }}</p>
  <p>{{ value12345 | toCaps }}</p>
</article>

<article>
  <header>containsX Pipe</header>

  <div>Full list:</div>
  <ul>
    <li *ngFor="let item of items">
      {{ item }}
    </li>
  </ul>

  <div>Filtered list:</div>
  <ul>
    <!--<li *ngFor="let item of (items | containsX:'abc')"> {{item}}</li>-->
    <!--<li *ngFor="let item of containsX(items, 'abc')"> {{item}}</li> -->
    <li *ngFor="let item of items | containsX : 'abc'">
      {{ item }}
    </li>
  </ul>
</article>

<article>
  <header>fieldRange Pipe</header>

  <div>Full list:</div>
  <ul>
    <li *ngFor="let c of cars">
      {{ c.year }} {{ c.color }} {{ c.brand }}
    </li>
  </ul>

  <div>Filtered list:</div>
  <ul>
    <li *ngFor="let c of cars | fieldRange : 'year' : 2009 : 2013">
      {{ c.year }} {{ c.color }} {{ c.brand }}
    </li>
  </ul>
</article>
